numpy>=1.24.0
pandas>=2.2.2
matplotlib>=3.6.0
seaborn>=0.12.0
nltk>=3.7
spacy
beautifulsoup4>=4.11.1
wordcloud>=1.8.2
textblob 
vaderSentiment 
afinn
scikit-learn
networkx
python-louvain
spicy
gensim
mlxtend
torch
torch_geometric
tensorflow
keras
keras-preprocessing